@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

@font-face {
  font-family: 'Monigue';
  src: url('/fonts/Monigue.otf') format('opentype'); /* Use 'opentype' for `.otf` files */
  font-weight: normal; /* Adjust weights as needed */
  font-style: normal;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('/fonts/Neue Regrade Variable.ttf') format('truetype'); /* Use 'truetype' for `.ttf` files */
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Monigue', sans-serif;
  --font-secondary: 'Neue Regrade', sans-serif;
  --starOutlineWhite: #ffffff;
  --starOutlineBlack: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html, body {
  height: 100%; /* Ensure that the body fills the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Ensures box-sizing is consistent */
}

body {
  background-image: url('/background.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background, #f0f0f0);
  color: var(--foreground, #333);
  font-family: var(--font-primary, 'Arial', sans-serif);
  --starOutline: var(--starOutlineWhite); /* Default to white outline */

  font-weight: 300;
  font-size: 30px;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; /* Prevent horizontal overflow */
  min-height: 100vh; /* Ensure the body is constrained to the viewport height */
}

[data-theme="dark"] {
  --starOutline: var(--starOutlineBlack); /* Use black outline for dark theme */
}


h1, h2 {
font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-secondary);
  }

p {
  font-family: var(--font-primary);
}

@keyframes slideDown {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.white-background {
  background-color: white; /* White background */
}

.transparent-background {
  background-color: transparent; /* Transparent background */
}




.contacts {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: greenyellow;
  justify-content: center;
 
  align-items: center;
  font-weight: 100;
  z-index: 0;
}

.contacts-title {
  display: flex;
  position: absolute;
  color: black;
  font-family: 'Monigue';
  src: url('/my-website/src/app/fonts/Monigue.otf');
  font-size: 90px;
  justify-content: center;
  top: 70px;
  width: 100%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.contacts-subtitle {
  display: flex;
  position: absolute;
  color: black;
  font-family: 'Neue Regrade Light';
  src: url('/my-website/src/app/fonts/Neue\ Regrade\ Light.otf');
  font-size: 20px;
  margin-top: 180px;
  justify-content: center;
  top: 65px;
  text-align: center;
  text-transform: uppercase;
}

.four-pointed-star-contact{
  display: flex;
  position: absolute;
  width: 130px;
  height: 120px;
  clip-path: url(#star-clip);
  margin-left: 135px;
  margin-top: -100px;
  transform: scale(1.5);
  z-index: 10;
}

#star-clip-contact{
  height: 10px;
  width: 100px;
  transition: transform 0.5s ease, fill 0.5s ease; /* Smooth transitions */
}


.button-linkedin {
  display: flex;
  position: absolute;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  text-align: center;
  color: #000000;
  background-color: transparent;
  top: 50vh;
  outline-color: transparent;
  font-family: 'Monigue';
  src: url('/fonts/Monigue.otf');
  font-weight: 100;
  border-color: transparent;

  z-index: 2;
}

.button-linkedin:hover {
  color: #e6e6e6;
}

.button-cv {
  display: flex;
  position: absolute;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  text-align: center;
  top: 70vh;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Monigue';
  src: url('/fonts/Monigue.otf');
  font-weight: 100;
  z-index: 2;
}

.button-cv:hover {
  color: #e6e6e6;
}

.button-github {
  display: flex;
  position: absolute;
  font-size: 50px;
  outline: none;
  justify-content: center;

  text-align: center;
  border-color: transparent;
  color: #000000;
  background-color: transparent;
  top: 60vh;
  outline-color: transparent;
  font-family: 'Monigue';
  src: url('/fonts/Monigue.otf');
  font-weight: 100;
  z-index: 2;
}

.button-github:hover {
  color: #e6e6e6;
}

.portal3 {
  display: flex;
  position: absolute;
  width: 60px;
  margin-top: -25vh;
}