@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

@font-face {
  font-family: 'Monigue';
  src: url('/fonts/Monigue.otf') format('opentype'); /* Use 'opentype' for `.otf` files */
  font-weight: normal; /* Adjust weights as needed */
  font-style: normal;
}

@font-face {
  font-family: 'Neue Regrade';
  src: url('/fonts/Neue Regrade Variable.ttf') format('truetype'); /* Use 'truetype' for `.ttf` files */
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Monigue', sans-serif;
  --font-secondary: 'Neue Regrade', sans-serif;
  --starOutlineWhite: #ffffff;
  --starOutlineBlack: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html, body {
  height: 100%; /* Ensure that the body fills the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Ensures box-sizing is consistent */
}

body {
  background-image: url('/background.png');
  background-attachment: fixed;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background, #f0f0f0);
  color: var(--foreground, #333);
  font-family: var(--font-primary, 'Arial', sans-serif);
  --starOutline: var(--starOutlineWhite); /* Default to white outline */

  font-weight: 300;
  font-size: 30px;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; /* Prevent horizontal overflow */
  min-height: 100vh; /* Ensure the body is constrained to the viewport height */
}

[data-theme="dark"] {
  --starOutline: var(--starOutlineBlack); /* Use black outline for dark theme */
}


h1, h2 {
font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-secondary);
  }

p {
  font-family: var(--font-primary);
}

@keyframes slideDown {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  body {
    background-image: url('/background.png'); /* Different background for small screens */
    background-attachment: fixed;

    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
}

.white-background {
  background-color: white; /* White background */
}

.transparent-background {
  background-color: transparent; /* Transparent background */
}

.markdown-content {
  font-family: 'Neue Regrade';
  src: url('/fonts/Neue Regrade Variable.ttf') format('truetype'); /* Use 'truetype' for `.ttf` files */
  font-weight: normal;
  font-style: normal;
}


